<ion-tabs style="background-color: black;">

  <ion-tab-bar slot="bottom" style="background-color: black;">
    <ion-tab-button tab="tab1" style="background-color: black;">
      <ion-icon name="map" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="background-color: black;">
      <ion-icon style="color: white;" name="chatbox"></ion-icon>
      <ion-label style="color: white;">Mensajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="background-color: black;">
      <ion-icon name="settings" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
