<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mensajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: black;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mensajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
