<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar> <!--color="primary"-->
      <ion-title icon>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="background-color: black;">
    <ion-list style="background-color: black;">
      <ion-item [routerLink]="['/productos']">Otros</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: black;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <div id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="localizar()">
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fa vertical="bottom" horizontal="end" slot="fixed">
  </ion-fa>
</ion-content>