 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: black;"> <!--[fullscreen]="true"-->
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
