<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center class="text">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

